.team {    
    &__item {
        width: 25%;
        padding: 0 15px;
        margin-bottom: 30px;
    }
    
    &__photo {
        display: block;
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    
    &__name {
        margin-bottom: 8px;
    
        font-size: 22px;
        color: #2d3033;
    }
    
    &__prof {
        margin-bottom: 15px;
    
        font-size: 13px;
        color: #8643DC;
        text-transform: uppercase;
    }
    
    &__text {
        margin-bottom: 20px;
    
        font-size: 14px;
        line-height: 1.5;
        color: #6c7279;
    }
}

@media (max-width: 991px) {
    .team__item {
        width: 50%;

        text-align: center;
    }

    .team__photo {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 767px) {
    .team__item {
        width: 100%;
    }
}