.buttonHome {
    width: 402px;
    height: 60px;
    margin-top: 1%;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    background-color: #4CAF50;
}

.centerHome {
    display: flex;
    justify-content: center;
}