* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.appCardCenter {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 200px;
  height: 300px;
  border-radius: 12px;
  border: 5px solid goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 20px;
  font-weight: 700;
  cursor: grab;
}

.hotkeyCard {
  width: 200px;
  height: 300px;
  border-radius: 12px;
  border: 5px solid rgb(115, 61, 201);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 20px;
  font-weight: 700;
  cursor: grab;
}
