.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    width: 100%;
    height: 100px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 0;
    }
    
    &__logo {
        display: flex;
        align-items: center;
        color: #fff;
    }
    
    &__img {
        padding-right: 10px;
    }
}

.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;

    &__link {
        margin-left: 50px;
    
        color: #fff;
        text-decoration: none;
        opacity: .75;
    
        transition: opacity .1s linear;
    }
    
    &__link:first-child {
        margin-left: 0;
    }
    
    &__link:hover {
        opacity: 1;
    }
}

.burger {
    display: none;
    padding: 9px 2px;

    background: none;
    border: 0;
    cursor: pointer;

    &__item {
        display: block;
        width: 28px;
        height: 3px;
    
        background-color: #222222;
    
        font-size: 0;
        color: transparent;
    
        position: relative;
        z-index: 10;
    }
    
    &__item:before,
    &__item:after {
        content: "";
        height: 100%;
    
        background-color: #222222;
    
        position: absolute;
        right: 0;
        z-index: 10;
    }
    
    &__item:before {
        width: 30px;
        top: -8px;
    }
    
    &__item:after {
        width: 26px;
        bottom: -8px;
    }
}

@media (max-width: 991px) {
    .nav {
        display: none;
    }
    
    .burger {
        display: block;
    }

    .navShow {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background: #fff;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 100px 15px;
      }

      .nav__link {
        margin-left: 0px;
        padding: 10px 0;
        font-size: 18px;
        font-weight: 700;
        color: #222222;
        text-decoration: none;
        opacity: .75;
    
        transition: opacity .1s linear;
    }
}




