.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 95px 0;

    &__item {
        width: 33.33333%;
        padding: 0 40px;
        margin: 25px 0;
    
        text-align: center;
    }
    
    &__icon {
        margin-bottom: 25px;
    }
    
    &__title {
        margin-bottom: 20px;
    
        font-size: 14px;
        color: #2d3033;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    &__text {
        font-size: 14px;
        line-height: 1.5;
        color: #6c7279;
    }
}

@media (max-width: 991px) {
    .features__item {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .features {
        margin: 40px 0;
    }

    .features__item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}